.columns-section-container {
  padding-block: var(--section-padding);
  display: grid;
  justify-items: center;
  align-items: center;

  gap: 4em;

  &.half-half {
    grid-template-columns: 1fr 1fr;
  }

  &.one-two {
    grid-template-columns: 2fr 3fr;
  }

  &.two-one {
    grid-template-columns: 3fr 2fr;
  }
}

@media (max-width: 900px) {
  .columns-section-container {
    &.half-half,
    &.one-two,
    &.two-one {
      grid-template-columns: 1fr;
    }
  }
}
