.layout {
  --padding: 2em;
  --wrapper-width: 39rem;
  --xl-wrapper: 1280px;
  --xl-wrapper-wings: calc((var(--xl-wrapper) - var(--wrapper-width)) / 2);

  display: grid;
  height: 100dvh;
  grid-template-columns:
    [fullwidth-start] minmax(var(--padding), 1fr)
    [xlwrapper-start] minmax(0, var(--xl-wrapper-wings))
    [wrapper-start] min(var(--wrapper-width), 100% - (var(--padding) * 2))
    [wrapper-end] minmax(0, var(--xl-wrapper-wings))
    [xlwrapper-end] minmax(var(--padding), 1fr)
    [fullwidth-end];
  grid-template-rows: auto 1fr;

  @media (max-width: 700px) {
    --padding: 0.5em;
  }

  main,
  .main-scroll-container,
  .main-scroll-container > .section-container {
    display: grid;
    grid-template-columns: subgrid;
    grid-auto-rows: max-content; /* sections should not stretch to fit whole height of page */
    grid-column: fullwidth;

    /* This will set of the element width to the xl-wrapper */
    /* use on single element */
    .xl-item {
      grid-column: xlwrapper;
    }
  }

  main {
    /* makes footer stick to the bottom of scroll-container */
    grid-template-rows: 1fr auto;
    overflow: hidden auto;
  }

  .main-scroll-container {
    align-self: stretch;

    /* TODO: section abstand hier */
  }

  /* This will set the children width to normal wrapper */
  /* use on container, where all children will have the same width */
  .wrapper > * {
    grid-column: wrapper;
  }

  /* This will set the children width to xl-wrapper */
  /* use on container, where all children will have the same width */
  .xl-wrapper > * {
    grid-column: xlwrapper;
  }
}
