.section-container {
  padding-block: var(--section-padding);

  .prototype-wrap {
    max-width: 420px;
    margin: 0 auto;
  }

  .prototype-wrap iframe {
    width: 100%;
    aspect-ratio: 9 / 19.5;
    border: 0;
    border-radius: 28px;
    overflow: hidden;
  }

  /* wechselnder BG */
  &.with-bg {
    position: relative;

    &::before {
      --top-left: 0% var(--section-padding);
      --top-right: 100% 0%;
      --bottom-right: 100% calc(100% - var(--section-padding));
      --bottom-left: 0% 100%;
      content: "";
      position: absolute;
      inset: 0;
      background: var(--light-grey-bg);
      clip-path: polygon(
        var(--top-left),
        var(--top-right),
        var(--bottom-right),
        var(--bottom-left)
      );
      z-index: -1;
    }
  }
}
