li.card {
  --padding-block-max: 20px;

  padding: clamp(10px, 3dvw, var(--padding-block-max)) min(20px, 2dvw);
  position: relative; /* Essential! This contains the absolute link */
  display: flex;
  align-items: center;
  column-gap: 0.6em;
  text-align: center;

  &:has(div.img-wrapper) {
    text-align: left;
  }

  .main-card-link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1; /* Makes the entire <li> area clickable */
  }

  .card-content {
    flex: 1 1 100%;

    .main-card-link {
      color: var(--primary-dark);
      font-weight: bold;
      text-decoration: none;
      word-break: normal;
    }

    & p {
      margin: 0;
      color: inherit;
      line-height: 1.6;
    }
  }

  & > .img-wrapper {
    flex: 1 0 35px;
  }
}
