.skip-link {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  margin-bottom: 1em;
}

.skip-link:focus {
  position: static;
  width: max-content;
  height: auto;
  clip: auto;
  z-index: 100;
}

.skip-link-target {
  display: none;
}

.iframe-wrapper iframe {
  webkit-clip-path: inset(2px 2px);
  clip-path: inset(2px 2px);
}

.iframe-wrapper.prototype {
  height: 80dvh; /* needed for iframe to grow to full-height size */
}

.iframe-wrapper.video {
  width: 100%;
}
