#about {
  grid-column: fullwidth;
  display: grid;
  align-content: center;
  position: relative;
  height: clamp(27rem, 40dvw, 40rem);
  overflow: hidden;
  padding-top: 0;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    /* bottom: -5dvh; */
    /* height: 110px; */
    background: var(--light-grey-bg);
    clip-path: polygon(
      0 0,
      100% 0%,
      100% calc(100% - var(--section-padding)),
      0 100%
    );
    z-index: -1;
  }

  h1 {
    margin: 0 0 24px;
    text-align: center;
    font-size: clamp(2.2rem, 3dvw, 3.2rem);
    line-height: 1.1;
    letter-spacing: -0.01em;
    color: var(--text-dark);
  }

  p {
    z-index: 1;
    margin: 0 auto;
    text-align: center;
    font-size: clamp(1.1rem, 1.3dvw, 1.42rem);
    line-height: 1.8;
    color: #666f8f;
  }
}

@media (max-width: 900px) {
  #about {
    padding-block: 3rem 4rem;

    /* &::after {
      clip-path: polygon(0 68%, 100% 34%, 100% 100%, 0 100%);
    */
  }
}
