.footer {
  display: grid;
  grid-column: fullwidth;
  grid-template-columns: subgrid;
  padding-block: var(--section-padding);
  box-shadow: none;
  text-align: center;

  & > p {
    grid-column: wrapper;
    margin-block: var(--body-margin-bottom) 0 !important;
    color: #666F8F;
  }

  &::before {
    clip-path: polygon(
      0% calc(var(--section-padding) - 1px),
      100% 0%,
      100% 100%,
      0% 100%
    ) !important;
  }
}

@media (max-width: 900px) {
  .footer {
    padding: 18px 20px;
  }
}
