.skip-link {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  margin-bottom: 1em;
}

.skip-link:focus {
  position: static;
  width: max-content;
  height: auto;
  clip: auto;
  z-index: 100;
}
