.module {
  padding: clamp(15px, 1.5dvw, 25px) min(40px, 3dvw) clamp(20px, 2dvw, 30px);

  & > p > strong {
    font-size: clamp(1.3rem, 1.7dvw, 1.8rem);
    line-height: 1.25;
  }

  & > ul {
    list-style: none;
    display: grid;
    align-items: center;
    row-gap: 1.2em;

    & > li {
      position: relative;
      line-height: 1.7;

      &::before {
        content: "";
        background: no-repeat center/100% url("./../assets/icons/kommentar-check.svg");
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 25px;
        aspect-ratio: 1;
        left: -38px;
      }
    }
  }
}
