.content-section {
  background: var(--surface);
  display: grid;
  grid-template-columns: subgrid;
  grid-auto-rows: max-content;
  grid-column: xlwrapper;

  &:first-of-type {
    padding-top: 84px;

    .project-content {
      p {
        font-size: clamp(1.08rem, 1.18dvw, 1.28rem);
        line-height: 1.75;
      }
    }
  }

  .project-content {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: xlwrapper;

    & > * {
      grid-column: wrapper;
    }
  }
}

#mein-beitrag.content-section .project-content .module-list {
  grid-column: xlwrapper;
}

#ergebnisse.content-section .project-content .card-list {
  grid-column: xlwrapper;
}
